# ======================
# Gradle files
# ======================
.gradle/
build/
**/build/

# ======================
# Local configuration
# ======================
local.properties

# ======================
# Log / OS / IDE files
# ======================
*.log
*.hprof
*.DS_Store
Thumbs.db

# ======================
# Android Studio / IntelliJ
# ======================
.idea/
*.iml
*.ipr
*.iws
*.bak
*.swp

# Specific IntelliJ files
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
usage.statistics.xml
tasks.xml

# ======================
# Android specific
# ======================
captures/
output-metadata.json
*.apk
*.ap_

# External native builds
.externalNativeBuild/
.cxx/

# ======================
# Keystore files (ne jamais versionner !)
# ======================
*.jks
*.keystore

# ======================
# Google services (Firebase etc.)
# ======================
google-services.json
app/google-services.json

# ======================
# Jetpack Compose Preview cache
# ======================
.idea/sonarlint/
.idea/shelf/

# ======================
# Kotlin specific
# ======================
*.class
*.kotlin_module

# ======================
# Misc
# ======================
*.orig
*.rej
